$home-page-background-color: #700CBC;

$player-name-text-color: #FEFE33;

$input-field-backgorund-color: #000000;

$game-name-text-color: #FB9902;

$player-divide-background: #FB9902;

$active-player-background: #FB9902;